@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './mixins';
// NAVBAR
.navbar {
  height: 22vh;
  width: 98vw;
  margin: 0 auto;
  margin-top: 1.5%;
  display: inline-block;

  background-image:
      linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%),
      linear-gradient(45deg, #444 25%, #fff 25%, #fff 75%, #444 75%);
  
    background-size: 45px 45px;

    background-position:
      0 0,
      45/2 45/2;

      @include respond-phone {
        width: 98vw;
        overflow: hidden;
      }

}

.nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 15px;
  align-items: center;



  &-content {
    &--left{
      // background-color:#ff9cea;
      grid-column: 1 / span 1;
      
    }

    &--right {
      grid-column: 2 / span 1;

      // display: grid;
      justify-self: flex-end;

      @include respond-phone {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      } 
    }
  }
}


.nav-image {
  height: 8rem;
  width: 8rem;
  animation: moveInTop 2s;

  @include respond-phone-480 {
    height: 6rem;
    width: 6rem;
  }

  &:hover {
    transform: scale(1.5);
  }
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 40px;

    @include respond-phone {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
    }
}


a:link {
  text-decoration: none;
}

// SINGLE COCKTAIL PAGE

.single-drink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  margin-bottom: 2.5rem;

  @include respond-tablet-portrait-750 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 0.1rem;
  }
}

.cocktail-section {
  display: grid;
  grid-template-rows: 20% 80%;
  justify-items: center;
  margin: auto;
  max-width: 85vw;
}

.single-cocktail-image {
  grid-column: 1 / 2;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  box-shadow: 7px 10px 5px 0px rgba(164,205,195,0.75);

  transition: all .8s;

  @include respond-tablet-portrait-750 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  @include respond-phone-480 {
    max-height: 60%;
    max-width: 95%;
  }


  &:hover {
    transform: translateY(-1rem) scale(1.02);

    @include respond-tablet-portrait {
      transform: translateY(-.5rem);
    }
  }

  @include respond-tablet-portrait {
    max-height: 80%;
    margin-top: 5rem;
  }

}

.drink-info {
  grid-column: 2 / 3;

  @include respond-tablet-portrait-750 {
    grid-row: 2 / 3;
  }
  
  p {
    font-family: 'Quicksand', sans-serif;
  }

}


// COCKTAIL LIST

.heading {
  font-family: 'Raleway', sans-serif;
  text-align: center;

  &-single-cocktail {
    text-align: center;

    @include respond-tablet-portrait-750 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

.cocktails-home {
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370.8px, 1fr));

  @include respond-tablet-portrait {
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  }

  @include respond-phone {
    grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
  }



  column-gap: 1.8rem;
  row-gap: 1.8rem;
}

.cocktail {
  display: grid;
  grid-template-rows: auto 2fr;
  box-shadow: 12px 10px 42px 0px rgba(0,0,0,0.32);
  transition: transform .4s;

}

.cocktail-card-details {
  padding: 1.3rem;
  color: #a4cd3c;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100%;
  display: block;
}



// BUTTON 
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    margin: 15px;
    border-radius: 100px;
    transition: all .5s;
    position: relative;
    font-family: 'Raleway', sans-serif;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
  }
  &-nav {
    background-color: #a4cd3c;
    color: black;
    padding: 25px 35px;
    display: flex;
    max-height: 40px;

    @include respond-tablet-portrait {
      padding: 25px 17px;
      font-size: 1rem;
    } 
    @include respond-tablet-portrait-750 {
      padding: 15px 15px;
      font-size: .8rem;
    }
    @include respond-phone {
      padding: 10px 10px;
      font-size: .5rem;
    }


  }

    &:after {
      background-color: #a4cd3c;
      color: black;
      
  }

  &-single {
    background-color: #ededed;
    padding: 10px 15px;
    font-size: 1.2rem;

    @include respond-phone {
      font-size: .8rem;
      padding: 8px 10px;
    }
    @include respond-phone-480 {
      display: flex;
      align-items: center;
    }


    &:after {
      background-color: #ededed;
    }
    }
  &-white {
    background-color: #a4cd3c;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    

    &:after {
      background-color: #a4cd3c;
      color: black;
    }
  }


  &:after {
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    transition: all .8s;
}

&-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
}


// SEARCH

.heading-search {
  font-family: 'Raleway', sans-serif;
}

#name {
  transition: 1s;
  width: 20%;
  border-radius: 5%;

  &:hover{
    background-color: lightgray;
  }
}

// RANDOM PAGE
.random-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}


// INGREDIENTS

.ingredient-info {
  grid-row: 2 / 3;
  
}

.ingredient-image {
  display: grid;
  grid-template-rows: 4fr 1fr;
  align-items: center;
  justify-items: center; 
  transition: .8s;
  
  &:hover {
    transform: scale(1.4);
    color: orange;

    @include respond-tablet-portrait {
      transform: scale(1.1);
    }
  }

  &-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
    
    }
    &-two {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &-three {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    &-four {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &-five {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    &-six {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.5rem;

    @include respond-phone-480 {
      font-size: smaller;
    }
  }
}


// ANIMATION

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}


